html,body{
	/*background-color: #000000;*/
}
.mui-table-view-cell{
	height: 45px;
	line-height: 26px;
	font-size: 16px;
}
.title2{
	color: #0776bc;
}
.mui-table-view-cell{
	border-radius: 4px;
	margin-top: 3px;
	background-color: #fff;
}
.mui-table-view{
	background-color: transparent;
}
.mui-table-view-cell:after{
	background-color: transparent;
}
.mui-table-view:before{
	background-color: transparent;
}