html,
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","黑体";
}
.gotop{
	height: 50px;
	width: 50px;
	background: url(../images/gotop.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	bottom: 20vh;
}
.homepage{
	height: 50px;
	width: 50px;
	background: url(../images/homepage.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	bottom: calc(20vh - 60px);
}
.mui-row{
	padding: 0 1.5vw;
	background-color: #fff;
}
.doctor{
	position: relative;
	height: 50vh;
	width: 46vw;
	overflow: hidden;
	margin-left: 1.5vw;
}
.doctor-card-img img{
	width: 100%;
	margin-top: 3vw;
}
.doctor-card-img{
	overflow: hidden;
	height: 50vw;
}
.doctor-car:nth-child(2n){
	padding-left:1.5vw;
}
.doctor-car:nth-child(2n+1){
	padding-right:1.5vw;
}
.doctor-car-msg{
	height: 64px;
	width: 100%;
	background-color: #fff;
	padding-top: 16px;
	padding-left: 10px;
	box-shadow: 0 0 16px -3px #ccc;
}
.doctor-car-msg>.name{
	color: #ff7c00;
}
.doctor-car-msg>.zc{
	font-size: 14px;
	margin-left: 4px;
	color: #777;
}
.doctor-car-msg p{
	color: #222;
}
.doctor-car:nth-child(1)>.Apage{
	display: block;
}
.Apage{
	position: absolute;
	padding: 0 0.5vw;
	padding-top: 0.25vw;
	transition: all 2s; 
	transform: rotateY(0);
	transform-origin: left;
	perspective: 500;
	-webkit-perspective: 500;
}
.Apage:hover>.Bpage{
	transition: all 1s;
	transform: rotateY(0deg);
	transform-origin: right;
	perspective: 500;
	-webkit-perspective: 500;
}
.Bpage{
	background-color: #ff7c00;
	color: #fff;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 3vw;
	padding: 1.5vw 1.5vw;
	padding-bottom: 0;
	left: 0;
	transition: all .6s;
	transform: rotateY(180deg);
	transform-origin: right;
	perspective: 500;
	-webkit-perspective: 500;
}
.Bpage:hover{
	transform: rotateY(0deg);
	transform-origin: right;
	perspective: 500;
	-webkit-perspective: 500;
}
.Bpage h4{
	line-height: 22px;
	font-weight: 400;
	color: #fff;
}
.Bpage img:nth-child(1){
	height: 22px;
	width: 22px;
	vertical-align: text-bottom;
	margin-right: 8px;
}
.Bpage ul{
	padding-left: 0;
	font-size: 14px;	
}
.Bpage ul li{
	list-style: none;
	display: inline-block;
}
.Bpage ul:nth-child(2) li{
	text-decoration: underline; 
}
.time-no{
	color: #ddd;
	text-decoration: none !important;
}
.jianjie>li{
	font-size: 12px;
}
