.mui-pager li>a,
.mui-pager li>span {
	color: #000000;
	font-size: 14px;
	padding: 3px 10px;
	border: 1px solid #333;
	background-color: transparent;
	border-radius: 0;
}

.mui-pager li:nth-child(1)>a {
	border: none;
	background-color: transparent;
}

.mui-pager li:nth-last-child(1)>a {
	border: none;
	background-color: transparent;
}

.mui-pager li.mui-active>a {
	background: linear-gradient(to right, #ff7c00, #ffce4d) !important;
	border: none;
}

.mui-pager li>a:active {
	background: linear-gradient(to right, #ff7c00, #ffce4d) !important;
	border: none;
}

.mui-pager {
	margin: 0;
	padding: 30px 0 40px 0;
	/* background-color: #fff; */
}