.footer{
	height: 120px;
	width: 100%;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 100;
}
.footer>p{
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
}
.gotop{
	height: 50px;
	width: 50px;
	background: url(../images/gotop.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	bottom: calc(20vh - 0px);
	z-index: 100;
}
.homepage{
	height: 50px;
	width: 50px;
	background: url(../images/homepage.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	z-index: 100;
	bottom: calc(20vh - 60px);
}
.null {
    background-color: #000;
    height: 20px;
}