#item3>div.mui-col-xs-6{
	background-color: #fff;
	padding: 0px 10px 0px 10px;
}
#item3>div.mui-col-xs-6>img{
width: 100%;
}

#item3>div.mui-col-xs-12{
	background-color: #fff;
	padding: 10px;
}
#item3>div.mui-col-xs-12>img{
overflow: hidden;
width: 100%;
}
