.mui-bar {
	box-shadow: 0 4px 8px -3px #666;
	z-index: 101;
}

.mui-tab-label {
	font-size: 11px;
}

.user-icon {
	position: relative;
	top: 4px;
}

.mui-bar-tab .mui-tab-item.mui-active {
	color: #FF8715;
}

.yygh {
	position: absolute;
	display: flex;
	bottom: 0px;
	align-items: center;
	flex-direction: column;
	left: calc(50% - 30px);
}

.yygh>img {
	top: 0;
	box-shadow: 0 0 6px -1px #f96c0b;
	border-radius: 100%;
}
.mui-popover .mui-table-view{
	background-color: #ff7c00;
	color: #fff;
	text-align: center;
}
.mui-popover{
	width: 200px;
}
.mui-table-view-cell:after{
	background-color: #fff;
}
.mui-popover .mui-table-view-cell{
	padding: 12px 15px 12px 15px;
}
.mui-popover .mui-popover-arrow:after{
	background: #ff7c00;
}
