html,
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑","黑体";
}
.gotop{
	height: 50px;
	width: 50px;
	background: url(../images/gotop.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	bottom: 20vh;
}
.homepage{
	height: 50px;
	width: 50px;
	background: url(../images/homepage.png);
	background-size: cover;
	position: fixed;
	right: 10px;
	bottom: calc(20vh - 60px);
}
.mui-row{
	padding: 0 1.5vw;
	background-color: #fff;
}
.doctor-card-img img{
	width: 100%;
	margin-top: 3vw;
}
.doctor-card-img{
	overflow: hidden;
	/*height: 50vw;*/
}
.doctor-car:nth-child(2n){
	padding-left:1.5vw;
}
.doctor-car:nth-child(2n+1){
	padding-right:1.5vw;
}
.doctor-car-msg{
	height: 64px;
	width: 100%;
	background-color: #fff;
	padding-top: 14px;
	padding-left: 10px;
	box-shadow: 0 0 16px -3px #ccc;
}
.doctor-car-msg>.name{
	color: #333;
}
.Apage{
	padding: 0 1.5vw;
}
